<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px;">
        <form action="/room/" method="GET" style="margin: 0 auto; width: 250px">
            <label for="query">Room name: </label>
            <input type="text" id="room_name" name="room_name" required><br>

            <label for="query">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <button>Enter</button>
        </form>
    </div>
</body>
</html>