<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="container" style="text-align: center">
        <button onclick="connectToWebSocketServer()" id="connect-button">Connect</button>
    </div>
    <script>
        function onClickSendMessage() {
            const urlParams = new URLSearchParams(window.location.search);
            let container = document.getElementById("container");
            let messageh1 = document.createElement("h1");
            let inputContent = document.getElementById("message-input") 

            messageh1.textContent = urlParams.get("username") + ": " + inputContent.value ;
            container.appendChild(messageh1)
        }

        function connectToWebSocketServer() {
            const button = document.getElementById("connect-button");
            button.textContent = "Connected";

            let container = document.getElementById("container");

            let newInput = document.createElement("input");
            newInput.type = "text";
            newInput.id = "message-input";
            newInput.placeholder = "Enter your message..."
            container.appendChild(newInput);

            let newButton = document.createElement("button")
            newButton.onclick= onClickSendMessage
            newButton.textContent = "Send message";
            container.appendChild(newButton);

            button.parentNode.removeChild(button);
        }
    </script>
</body>
</html>